{{!-- author: "https://www.facebook.com/bbcnews"
content: "Nearly 620,000 Americans have died from Covid-19, and over 32 million have been infected.\r\nHealthcare workers have been at the forefront of the pandemic battle. And for many, the last few months have… [+5968 chars]"
description: "Healthcare workers react to the growing rise of Covid patients in US hospitals despite vaccines."
publishedAt: "2021-08-14T23:42:41Z"
source: {id: 'bbc-news', name: 'BBC News'}
title: "'This was a race and we lost': How US doctors really feel about Covid surge"
url: "https://www.bbc.co.uk/news/world-us-canada-58208721"
urlToImage: "https://ichef.bbci.co.uk/news/1024/bran --}}


{{#each this}}
    <ul>
        <li>
            <h3>{{title}}</h3>
            <img src="{{urlToImage}}" alt="{{description}}" width=400/>
        </li>
    </ul>
{{/each}}