<div class="menu">
    <h1 class="menu__title">{{title}}</h1>
    <img src={{image}} width=400>
    <ul class="menu__list">
        {{#each items}}
        <li class="menu__listItem">{{this}}</li>
        {{/each}}
    </ul>
</div>